@page
@model IndexModel

<!DOCTYPE html>
<html>
<head>
    <title>DevOps DotNet Demo</title>
</head>
<body style="font-family: Arial; margin: 40px;">
    <h1>🚀 DevOpsDotNetDemo is Live!</h1>

    <p>
        This ASP.NET Core app was deployed automatically using:
    </p>

    <ul>
        <li>GitHub</li>
        <li>Jenkins Pipeline</li>
        <li>Ubuntu VM</li>
        <li>systemd Service</li>
        <li>NGINX Reverse Proxy</li>
    </ul>

    <p><b>Deployed at:</b> @DateTime.Now</p>
</body>
</html>
